<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <title>Login</title>
    <style>
      span {
        color: red;
      }
    </style>
  </head>
  <body>
    <%- include ('navbar.ejs') %> <% if(msg) {%>
    <div class="alert alert-danger" role="alert">
      <%= msg%>
    </div>
    <% } %>
    <div class="container margin-30 col-md-6">
      <form method="POST" class="form-handle" action="/user/authenticate">
        <div style="border : 2px solid black ;padding : 30px; margin-top: 50px;">
          <h1 style="text-align: center;">LOGIN</h1>
          <div class="form-group col-lg-12">
            <input
              type="text"
              id="userName"
              name="userName"
              class="form-control"
              placeholder="Enter User Name"
              required
            />
            <span id="span1"></span>
          </div>
          <div class="form-group col-lg-12">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter password"
              required
            />
          </div>
          <span id="span2"></span>
          <br />
          <center>
            <div class="form-group col-lg-12">
              <input
                type="submit"
                value="LOGIN"
                class="btn btn-info col-lg-4"
                onclick="return checkValidateData();"
              />&nbsp;
              <button class="btn btn-danger col-lg-4" type="reset">
                CANCEL
              </button>
            </div>
            <a href="/user/register"> create an account ?</a>
          </center>
        </div>
      </form>
    </div>

    <!-- javaScript Code here -->
    <script type="text/javascript">
      function checkValidateData() {
        //to get a value in variable
        var userName = document.getElementById("userName").value;
        var pwd = document.getElementById("password").value;
        // pattern of variable
        var validateUser = /^[a-zA-z@0-9]{3,30}$/;
        var password = /^{5,30}$/;
        
        /* test validation of input field */
        // user validation
        if (validateUser.test(userName)) {
          document.getElementById("span1").innerHTML = " ";
        } else {
          document.getElementById("span1").innerHTML =
            " * Must be required character more then 3";
          return false;
        }
        // password validation
        if (password.test(pwd)) {
          document.getElementById("span2").innerHTML = " ";
        } else {
          document.getElementById("span2").innerHTML =
            " * Must be required character more then 3";
          return false;
        }
      }
    </script>
  </body>
</html>
