<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <title>Offers</title>
  </head>

  <body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <form class="form-inline my-2 my-lg-0">
          <a class="navbar-brand" href="/dashbord">FDA</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link" href="/post/user">View My Posts</a>
            </li> -->
            <li class="nav-item" style="padding-right: 850px;">
              <a class="nav-link" href="/user/offers">Offers</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/user/about"> About </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/contact"> Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/help"> help ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/logout"> Logout</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>
<br>
<br>
<br>
<div class="container">
  <div>
  <h2>
    <u style="color: brown;"><b>Are you looking for Offers ??? </b> </u>
  </h2>
  <br>
  <br>
  <br>
  <br>
  <!-- <h2 style="color:red"><b> How i choose order ?</b></h2>
  <br> -->
  <h4>
    <span style="font-size: 28px;"> <b>Offer 1 :</b> </span> Get 60% offer in your order  <b>(* first time )</b> 
    <br>
    <span style="font-size: 28px;"> <b>Offer 2 :</b> </span> Get 20% offer in your order  <b>(* on every time  ) </b>
    <br>
  </h4>
<br>
<br><br>
<br>
<br>
<br>
<br>
</div>
<br>
</div>

<hr>
  <copy><h4> <center><b>copyright claimed by  &copy FDA</b></h4></center></copy>
  <br>
</div>
