.container{
    position: relative;
}
.imgCss{
    width: 100%;
    height: 685px;
    /* filter: brightness(50%); */
    filter: blur(3px) brightness(40%);
}
.loginBox{
    filter: brightness(80%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid whitesmoke;
    box-shadow: 10px 10px 5px lightcyan;
    width: 400px;
    height: 450px;
    background-image: none;
}

.grad{
    background-image: linear-gradient(to right top, rgba(255,0,0,0), #538586);
}
.box{
    /* border: 1px solid black; */
    height: 107rem;
    background-image: linear-gradient(to right bottom, rgba(255,0,0,0), #538586);
}
.box>h1{
    font-size: 70px;
}
.logoImg{
    height: 225px;
    border:3px solid #065471;
}
.cart-bg{
    background-image: linear-gradient(to right top, rgba(255,0,0,0), #538586);
}
.hotelCss{
    height: 140px;
    width: 245px;
    border:3px solid #065471;
}
